* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header nav ul {
    display: flex;
    list-style: none;
    background-color: #ed0505;
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: rgb(19, 19, 19);
    text-decoration: none;
}

.logo {
    width: 100px; 
    height: auto; 
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


section {
    padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}


.hero {
    text-align: top right;
    background: url('Pictures/background.jpg') no-repeat center center/cover;
    color: rgb(16, 1, 1);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f9f6f6;
    color: rgb(5, 1, 1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}